# Dependencies
node_modules/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Expo
.expo/
dist/
web-build/
ios/
android/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Testing
coverage/

# Env
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# EAS
eas-credentials/
